@charset "UTF-8";
/*
Copyright 2014, TX
by Jin
build: 2014-06-24
*/

/*html5*/
header,footer,section,aside,article,nav,dialog,figure{display:block;}
/*reset*/
*{margin:0;padding:0;}
img{border:0;/*max-width:100%;*/}
a{text-decoration:none;}
a:hover{text-decoration:none;}
em{font-style:normal;}
ul,ol,li{list-style:none;}
input,textarea{/*-webkit-box-shadow:none;-webkit-border-radius:0;-webkit-appearance:none;*/}
input:focus,textarea:focus{outline:none;}
table{border-collapse:collapse;border-spacing:0;}
/*clear*/
.clearfix:after{content:" ";height:0;visibility:hidden;display:block;clear:both;}
/*公共*/
html{font-size:62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
html,body{height:100%;width:100%;-webkit-user-select:none;user-select:none;}
body{
        font-family:STHeiti,Helvetica,Arial;line-height:1.5;font-size:1.4rem;
        font-family:-apple-system-font,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;
}
a,img{-webkit-touch-callout:none;/* 禁止长按链接与图片弹出菜单 */}

/*// html,body {
//     -webkit-touch-callout:none;
//     -webkit-user-select:none;
//     -webkit-user-drag:none;
//     min-height:100%;
//     -webkit-flex:1;
//     flex:1;
//     display:-webkit-flex;
//     display:flex;
//     -webkit-flex-direction:column;
//     flex-direction:column;
//     overflow:hidden;
// }*/
html.overhidden,html.overhidden body{
    overflow: hidden;
}
a,img,input,textarea,button{
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    border-radius:0;
    -webkit-border-radius:0;
    outline:none;
    /*&:active,&:focus{
        outline:none;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
    }*/
}
.nohighlight {
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
/*html,body{
    height: 100%;
}*/
.OpenByQQ{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #E8E8E8;
}
.OpenByQQ span{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #000;
    left: 0;
    top: 40%;
}
.rich-share-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow-x: hidden
}
.rich-share-mask.wechat {
    background-color: rgba(0, 0, 0, .8)
}
.rich-share-mask .rich-share {
    position: fixed;
    left: 8px;
    right: 8px;
    bottom: 8px;
    overflow: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform .2s ease-in-out
}
.rich-share-mask .rich-share.show {
    -webkit-transform: translate3d(0, 0, 0)
}
.rich-share-mask .rich-share .rich-share-body {
    background-color: #eaeaea;
    width: 100%;
    border-radius: 4px
}
.rich-share-mask .rich-share .rich-share-body .share-title {
    height: 34px;
    line-height: 34px;
    color: grey;
    text-align: center
}
.rich-share-mask .rich-share .rich-share-body .share-title.section-1px:before {
    display: none
}
.rich-share-mask .rich-share .rich-share-body .share-title.section-1px:after {
    border-color: rgba(0, 0, 0, .24)
}
.rich-share-mask .rich-share .rich-share-body .share-btn-container {
    padding-top: 10px
}
.rich-share-mask .rich-share .rich-share-body .share-btn-container .share-btn {
    float: left;
    width: 33.33%;
    padding: 5px 0 15px;
    text-align: center
}
.rich-share-mask .rich-share .rich-share-body .share-btn-container .share-btn.share-active .share-icon:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .47);
    border-radius: 15px
}
.rich-share-mask .rich-share .rich-share-body .share-btn-container .share-btn .share-icon {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px
}
.rich-share-mask .rich-share .rich-share-body .share-btn-container .share-btn .share-icon img {
    width: 60px;
    height: 60px
}
.rich-share-mask .rich-share .rich-share-body .share-btn-container .share-btn p {
    color: #000;
    text-align: center;
    margin-top: 6px;
    font-size: 14px
}
.rich-share-mask .rich-share .btn-share-cancel {
    background-color: #eaeaea;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #00a5e0;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 8px
}
.rich-share-mask .rich-share .btn-share-cancel.active {
    background-color: #ccc
}
.rich-share-mask .wechat-arrow {
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 20px;
    width: 258px;
    height: 182px;
    /*background: url(wechat-share.png) no-repeat;*/
    background-size: 258px 182px
}
.rich-share-mask .btn-wechat-confirm {
    position: absolute;
    left: 50%;
    bottom: 25px;
    width: 95px;
    height: 35px;
    line-height: 35px;
    margin-left: -47px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    color: #fff
}
body.cancel{
    background: #ff9b30;
    text-align: center;
}
.cancel-read{
    width: 92%;
    margin: 4% auto 0 auto;
    background: #ff7f0c;
    border-radius: 10px;
    color: #fff;
    padding-bottom: 80px;
}
.cancel-read h3{
    width: 90%;
    padding-top: 15%;
    margin: 0 auto;
    font-size: 2.1rem;
    font-weight: normal;
    text-align: center;
}
.minWidth .cancel-read h3{
    padding-top: 12%;
    font-size: 1.7rem;
}
.cancel-read h3 span{
    display: inline-block;
    vertical-align: middle;
}
.cancel-read h3 span.qunname{
    max-width: 84%;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.cancel-read p{
    width: 90%;
    padding-bottom: 5%;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
}
.minWidth .cancel-read p{
    padding-bottom: 5%;
    font-size: 1.4rem;
}
.encourage{
    width: 90%;
    margin: 0 auto;
    background: url(___cdn/img/cancel/encourage.png?___md5) no-repeat 50% 0%;
    background-size: cover;
    margin-bottom: 15%;
}
.minWidth .encourage{
    margin-bottom: 10%;
}
.callqun{
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 80%;
    height: 50px;
    font-size: 1.8rem;
    text-align: center;
    border: none;
    background: #fcff1b;
    color: #9a5000;
    margin-bottom: 15%;
    border-radius: 5px;
}
.minWidth .callqun{
    margin-bottom: 11%;
    font-size: 1.7rem;
    height: 44px;
}
.maxWidth .callqun{
    font-size:2.1rem;
    height: 58px;
}
.callqun.active{
    background: #FFDB8E;
}
.cancel-con1{
    width: 100%;
    margin: 0 auto;
    margin-top: -110px;
    background: url(___cdn/img/cancel/con1.png?___md5) no-repeat 50% 0%;
    background-size: cover;
}
.cancel-con1-ios{
    width: 100%;
    margin: 0 auto;
    margin-top: -110px;
    background: url(___cdn/img/cancel/con1-ios.png?___md5) no-repeat 50% 0%;
    background-size: cover;
}
.cancel-con2{
    width: 100%;
    margin: 0 auto;
    background: url(___cdn/img/cancel/con2.png?___md5) no-repeat 50% 0%;
    background-size: cover;
}
.cancel-con3{
    width: 100%;
    margin: 0 auto;
    background: url(___cdn/img/cancel/con3.png?___md5) no-repeat 50% 0%;
    background-size: cover;
}

.ornament{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: url(___cdn/img/cancel/ornament.png?___md5) no-repeat 50% 0%;
    background-size: contain;
}
.minWidth .ornament{
    background-size: 87%;
}
body{
    background: #ff9b30 url(___cdn/img/index/full-bg.png?___md5) no-repeat 50% 0%;
    background-size: contain; 
}
.banner{
    width: 100%;
    height: 259px;
    margin: 0 auto;
    background: url(___cdn/img/index/banner2.png?___md5) no-repeat 50% 0%,url(___cdn/img/index/banner1.png?___md5) no-repeat 50% 0%;
    background-size: contain; 
    position: relative;
}

.banner .qunname{
    position: absolute;
    width: 100%;
    left: 0;
    top: 68%;
    color: #531300;
    font-size: 1.9rem;
    text-align: center;
}
.minWidth .banner .qunname{
    top: 68%;
    font-size: 1.7rem;
}
.maxWidth .banner .qunname{
    top: 68%;
    font-size: 2.1rem;
}
.banner .qunname span{
    display: inline-block;
    vertical-align: middle;
}
.banner .qunname span#qunName{
    max-width: 54%;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.banner-box{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(___cdn/img/index/banner3.png?___md5) no-repeat 50% 0%;
    background-size: contain; 
}
.con1{
    width: 100%;
    margin: 0 auto;
    background: url(___cdn/img/index/con1.png?___md5) no-repeat 50% 0%;
    background-size: cover;
}
.con1-ios{
    width: 100%;
    margin: 0 auto;
    background: url(___cdn/img/index/con1-ios.png?___md5) no-repeat 50% 0%;
    background-size: cover;
}
.con2{
    width: 100%;
    margin: 0 auto;
    background: url(___cdn/img/index/con2.png?___md5) no-repeat 50% 0%;
    background-size: cover;
}
.con3{
    width: 100%;
    margin: 0 auto;
    background: url(___cdn/img/index/con3.png?___md5) no-repeat 50% 0%;
    background-size: cover;
}